body {
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 70px;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FEFEFE;
    border-top: 1px solid #CCC;
    height: 60px;
}

footer .pagination {
    margin: 10px 0px;
}

footer .btn-group {
    margin: 10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    white-space: nowrap;
}

table.sortable th:not (.sorttable_sorted ):not (.sorttable_sorted_reverse
    ):not (.sorttable_nosort ):after {
    content: " \25B4\25BE"
}

.icon-small {
    height:18px;
    margin:0;
	padding:0;
}

.icon-medium {
    height:22px;
	margin:0;
	padding:0;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

#powered {
   float: left;
   display:inline-block
   
}

#copyright {
   float: right;
   display:inline-block
}

/*
Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }