<!DOCTYPE project>

<configuration>
    <timestamp key="byDay" datePattern="yyyyMMdd" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>
            ${user.home}/logs/tomcat/computerdatabase/ComputerDatabase-log-${byDay}.log
        </file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE_FULL" class="ch.qos.logback.core.FileAppender">
        <file>
            ${user.home}/logs/tomcat/computerdatabase/ComputerDatabase-log-full-${byDay}.log
        </file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.excilys.burleon" level="TRACE" >
        <appender-ref ref="FILE" />
    </logger>

    <root level="TRACE">
        <appender-ref ref="FILE_FULL" />
    </root>

</configuration>



