<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Computer Database Web App</display-name>

	<welcome-file-list>
		<welcome-file>ComputerList</welcome-file>
	</welcome-file-list>

	<!-- Header & Footer of Web page -->
	<jsp-config>
		<taglib>
			<taglib-uri>http://burleon.excilys.com/jsp/tlds/mytags</taglib-uri>
			<taglib-location>/WEB-INF/paginator.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>/jsp/*</url-pattern>
			<url-pattern>/WEB-INF/public/*</url-pattern>
			<include-prelude>/WEB-INF/public-inc/header.jsp</include-prelude>
			<include-coda>/WEB-INF/public-inc/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>

	<!-- Servlet ALL -->
	<servlet>
		<servlet-name>ComputerList</servlet-name>
		<jsp-file>/WEB-INF/public/computerlist.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ComputerManage</servlet-name>
		<jsp-file>/WEB-INF/public/computermanage.jsp</jsp-file>
	</servlet>
</web-app>

